body {
	background-color:#94618E;
	color: #F4DECB;
	font-family: 'Candal', sans-serif;
}

header {
	background-image:url(images/eggplant_tile.jpg);
	background-size: 100%;
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	text-align:center;
	width: 100%;
	top: 0;
}

header h1 {
	font-size:80px;
}
header h2 {
	font-size:50px;
}
header h3 {
	font-size:40px;
}

.wrapper {
  position: relative;
  width:90%;
  float: right;
  display: inline;
  margin-left: 20px;
  margin-right: 30px;
  border: 20px;
  padding: 20px;
  word-wrap: break-word;
}

.wrapper h2 {
  text-align: center;
  font-size: 32px;
}

.wrapper ul {
  font-size: 24px;
}

.narrative {
  margin: 0;
  padding: 20px;
}

.label {
  color: #4F2F4F;
  background-color: #F4DECB;
}

li {
  list-style-type: none;
}

#slider-wrapper {
  width: 940px;
  height: 470px;
  margin: 50px auto;
  float: left;
  position: relative;
  margin-bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

#s1 {
  padding: 6px;
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: -36px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}

#s2 {
  padding: 6px;
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: -12px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}

#s3 {
  padding: 6px;
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: 12px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}

#s4 {
  padding: 6px;
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: 36px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}

#s1:hover,
#s2:hover,
#s3:hover,
#s4:hover {
  opacity: .50;
}

.inner-wrapper {
  width: 940px;
  height: 470px;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0px;
  overflow: hidden;
}

.control {
  display: none;
}

#Slide1:checked ~ .overflow-wrapper {
  margin-left: 0%;
}

#Slide2:checked ~ .overflow-wrapper {
  margin-left: -100%;
}

#Slide3:checked ~ .overflow-wrapper {
  margin-left: -200%;
}

#Slide4:checked ~ .overflow-wrapper {
  margin-left: -300%;
}

#Slide1:checked + #s1 {
  opacity: 1;
}

#Slide2:checked + #s2 {
  opacity: 1;
}

#Slide3:checked + #s3 {
  opacity: 1;
}

#Slide4:checked + #s4 {
  opacity: 1;
}

.overflow-wrapper {
  width: 400%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slide img {
  width: 25%;
  float: left;
}

footer {
	font-size: 12px;
	text-align:center;
	width: 100%;	
}
