 body {
	background-color:#94618E;
	color: #F4DECB;
	font-family: 'Candal', sans-serif;
}

header {
	background-image:url(images/eggplant_tile.jpg);
	background-size: 100%;
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	text-align:center;
	float:right;
	width: 80%;
	top: 0;
}

header h1 {
	font-size:80px;
}
header h2 {
	font-size:50px;
}
header h3 {
	font-size:40px;
}
nav {
	background-color:#F4DECB;
	width: 20%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
}
nav ul {
	list-style-type: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
nav li {
	padding:10px 10px 10px 10px;
}
.circle {
	border-radius:50%;
	display: block;
	width: 150px;
	height: 150px;
	font-size:32px;
	color:#FFFFFF;
	line-height:150px;
	text-align:center;
	text-decoration:none;
	background:#94618E;
}
.circle:hover {
	transition: all 3s ease;
	transform: rotateX(360deg);
	color:#FFFFFF;
	text-decoration:none;
	background:#979797;
}

.social {
	text-align: center;
	padding-top: 20px;
	margin-right: 20px;
}

.wrapper {
	position: relative;
	width:75%;
	float: right;
	display: inline;
	margin-right: 30px;
	border: 20px;
	padding: 20px;
	word-wrap: break-word;
	text-align: center;
}

.wrapper h2 {
	font-size: 40px;
}

.wrapper h3 {
	font-size: 32px;
}

.wrapper p {
	font-size: 24px;
}

hr {
	border: groove 5px;
	border-color: #F4DECB;
}

.work {
	display: block;
	margin: auto;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.work a {
	text-decoration: none;
}

.workimage {
    position:relative;
    display: inline-block;
    list-style: none;
    margin: auto;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.workimage figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
}
.workimage figure img {
    display:block;
    position:relative;
    z-index:10;
  	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.workimage figure figcaption {
    display:block;
    position:absolute;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.workimage figure h2 {
    text-align:center;
    font-size: 30px;
}

.workimage figure figcaption {
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
    background-color:rgba(26,76,110,0.5);
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.workimage figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.workimage figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.workimage figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}

.about {
	background-image: url(images/headshot_si_fotor.png), url(images/dance_color.png);
	background-repeat: no-repeat, no-repeat;
	background-position: top left, top right;
	background-size: 25%;
}

.about a {
	text-decoration: none;
}

.contact a {
	text-decoration: none;
}

footer {
	font-size: 14px;
	text-align:center;
	float:right;
	margin-right: 30px;
	width: 75%;	
}
