body {
	background-color:#94618E;
	color: #F4DECB;
	font-family: font-family: 'Open Sans', sans-serif;
}

header {
	background-image:url(images/eggplant_tile.jpg);
	background-size: 100%;
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	font-family: 'Bree Serif', serif;
	text-align:center;
	width: 100%;
	top: 0;
}

header h1 {
	font-size:64px;
}
header h2 {
	font-size:36px;
}
header h3 {
	font-size:24px;
}

.wrapper {
	width:100%;
	display: inline;
	word-wrap: break-word;
	text-align: left;
}

.work {
	width:80%;
	border: 2px solid;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 10px;
}

footer {
	font-size: 12px;
	text-align:center;
	width: 100%;	
}
